<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
      <link rel="stylesheet" type="text/css" href="/static/movie_app/movie_list_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>MovieList</title>
  </head>
  <body class="container">
    <center>
        <h1 style="color:red"><b><i>Hey This Is Your Favourite Movie List</i></b></h1>
          <!-- {% if movieinfo %} -->
          <table border="6" class="table table-hover"><br>
            <thead style="color:yellow";>
              <th>Movie Name</th>
              <th>Todays Date</th>
              <th>Movie Hero</th>
            </thead>
            {% for movie in movieinfo %}
            <tr style="color:black";>
              <td> {{movie.Movie}}</td>
              <td> {{movie.Release_Year}}</td>
              <td> {{movie.Actor}}</td>
            </tr>
            {% endfor %}
          </table>
          {% else %}
          <h1>No Movies Found</h1>
          {% endif %}
          <a href='/'>
        <button class="btn btn-success">Go to Home Page</button></a>
          <!-- <button  type="submit" class="btn btn-success"><a href="movie/"></a>Go to Home Page</a></button> -->
        </center>
        </body>
</html>
